<!DOCTYPE html>
<html>
<head>
    <title>{{ project_name }} - {{ inventory_hostname }}</title>
</head>
<body>
    <h1>{{ project_name }}</h1>
    <p>Host: {{ inventory_hostname }}</p>
    <p>Environment: {{ env_name }}</p>
    <p>Managed by Ansible</p>
</body>
</html>
